* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.report-download {
    width: 100%;
    margin: 0 7rem;
}

th {
    background-color: #d3d3d3;
}

td {
    padding: 8px;
    text-align: center;
}